.App {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
}
.counter{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding-bottom: 4rem;
  padding-top: 1rem;
}
.counter span{
  font-family: sans-serif;
  font-weight: 800;
  color: rgb(4, 59, 96);
  font-size: 1.5rem;
}
.counter h3{
  color: navy;
  font-size: 1.5rem;
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
}
.counter button {
  margin: 0 3rem;
  border: 0.1rem solid white;
  padding: 1rem 2rem;
  border-radius: 1rem;
  color: #ffffff;
  font-weight: 800;
  font-size: 1.5rem;
}
.counter .decrement{
  background-color: red;
}
.counter .increment{
  background-color: green;
}
.counter .decrement:hover{
  cursor: pointer;
  border: 0.1rem solid red;
  background-color: transparent;
  color: red;

}
.counter .increment:hover{
  cursor: pointer;
  border: 0.1rem solid green;
  background-color: transparent;
  color: green;
}
@media (max-width:600px){
  .counter button{
  margin: 0 2rem;
  border: 0.1rem solid white;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  color: #ffffff;
  font-weight: 800;
  font-size: 1rem;
  }
}

